{% load static %}
<div
  class="w-[98%] h-[72px] pt-[10px] flex justify-between items-center m-auto bg-[#191918]"
>
  <div class="left flex items-center">
    <div>
      <img
        class="w-[170px] h-[52px]"
        src="{% static 'img/yandexlogo.png' %}"
        alt=""
      />
    </div>
    <div>
      <i
        class="fa-solid fa-magnifying-glass text-[#8B8B8B] text-[20px] relative top-[0px] left-[38px]"
      ></i>

      <input
        class="w-[359px] h-[48px] rounded-[30px] pl-[42px] text-[#8B8B8B] bg-[#2B2B2B] outline-none"
        type="search"
        placeholder="Найти в Еде"
      />
    </div>
    <div
      class="bg-[#2B2B2B] flex cursor-pointer items-center h-[48px] pl-[14px] pr-[14px] rounded-[30px] ml-[15px] hover:bg-[#3B3B3B]"
    >
      <img
        class="w-[25px] h-[25px]"
        src="{% static 'img/location.png' %}"
        alt=""
      />
      <span>
        <h1 class="text-[#fff] text-[14px] font-[600]">Amir Temur xiyoboni</h1>
      </span>
    </div>
  </div>

  <div class="
  ..................................
  <div class="right flex items-center">
    ".>
  
  
  
  
  
  .</div>
    <div>

      <i class="fa-solid fa-globe text-[20px] text-[#E0DEDA] mr-[15px]"></i>

    </div>

    <div
      class="w-[97px] flex items-center h-[45px] pl-[25px] pr-[25px] bg-[#2B2B2B] rounded-[15px] hover:bg-[#3B3B3B] cursor-pointer">

      <h1 class="text-[#8B8B8B] font-[600]">Войти</h1>
      
    </div>


    


  </div>

</div>
